<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/static/css/app.css">
    <title>{{ title }}</title>
</head>
<body>
    <div class="wrapper">
        <div class="header">
            <a class="header-link" href="/"><img class="header-icon" src="/static/img/main.svg" alt="">
                <span>Главная</span></a>
            <a class="header-link" href="/messanger"><img class="header-icon" src="/static/img/chat.svg" alt="">
                <span>Мессенджер</span></a>
        </div>
        <div class="main">
            {% block main %}
            {% endblock %}
        </div>
        <div class="footer">
            <p>All rights are reserved &copy; Ademy 2022</p>
        </div>
    </div>
    {% block scripts %}
    {% endblock %}
</body>
</html>