// Variables

$mainFont: 'Ademy', sans-serif;
$mainColor: #ff6468;
$secondColor: #dc342c;
$thirdColor: #b42424;
$rulesColor: #1a1a1a;
$buttonTextColor: #202020;
$whiteTextColor: white;
$mutedTextColor: #303030;
$mainFontSize: 25px;
$messageErrorColor: #ff0000;
$messageSuccessColor: #2ac524;

// Mixins

@mixin flex-center($direction) {
    display: flex;
    flex-direction: $direction;
    align-items: center;
    justify-content: center;
}

@mixin div-center() {
    margin: 0;
}

// Fonts

@font-face {
    font-family: 'Ademy';
    src: url('/static/fonts/ademy.ttf');
}


// All settings


* {
    padding: 0;
    margin: 0;
    font-family: $mainFont;
    text-decoration: none;
}

body {
    height: 100%;
    background: #202020;
    display: flex;
    flex-direction: column;
}

a {
    color: $whiteTextColor;
}

.wrapper {
    position: fixed;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: auto; /*Вертикальная полоса прокрутки для текста*/
}

.main {
    flex-grow: 1; /*Предписываем занять все свободное пространство*/
}

// Index

.main__header {
    padding: 15px 0px 0px 0px;
    display: flex;
    color: $whiteTextColor;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.main__system {
    color: $whiteTextColor;
    @include div-center();
    @include flex-center(column);

    .text_message {
        margin-bottom: 20px;
        display: flex;
        flex-direction: column;
        text-align: justify;
        padding: 20px;
    }

    .main_system_button {
        margin-bottom: 30px;
    }

    a {
        display: block;
        background-color: #fff;
        color: $buttonTextColor;
        font-size: 25px;
        width: 64px;
        height: 32px;
        padding: 5px;
        border-radius: 5px;
        background: linear-gradient(90deg, #BD2859 0%,
                #BC374E 50%, #de5456 100%);
        border: none;
        color: $whiteTextColor;
        font-weight: bolder;
        font-size: $mainFontSize;
        text-align: center;
        padding: 15px;
        border-radius: 15px;
        width: 400px;
        cursor: pointer;
    }

    .main__system__buttons {
        display: block;
        margin-bottom: 20px;
    }
}

.main__register, .main__login {
    button {
        background: linear-gradient(90deg, #BD2859 0%,
                #BC374E 50%, #de5456 100%);
        border: none;
        color: $whiteTextColor;
        font-weight: bolder;
        font-size: $mainFontSize;
        padding: 15px;
        border-radius: 15px;
        width: 400px;
        cursor: pointer;
    }

    input {
        border: none;
        outline: none;
        color: $whiteTextColor;
        border-bottom: 1px solid gray;
        font-size: $mainFontSize;
        background: transparent;
    }

    // Checkbox file style

    .checkbox > input {
        position: absolute;
        z-index: -1;
        opacity: 0;
    }

    .checkbox > span {
        display: inline-flex;
        align-items: center;
        user-select: none;
    }

    .checkbox > span::before {
        content: '';
        display: inline-block;
        width: 1em;
        height: 1em;
        flex-shrink: 0;
        flex-grow: 0;
        border: 1px solid #adb5bd;
        border-radius: 0.25em;
        margin-right: 0.5em;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 50% 50%;
    }

    .checkbox > input:not(:disabled):not(:checked) + span:hover::before {
        border-color: #b3d7ff;
    }

    .checkbox > input:not(:disabled):active + span::before {
        background-color: #b3d7ff;
        border-color: #b3d7ff;
    }

    .checkbox > input:focus + span::before {
        box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
    }

    .checkbox > input:focus:not(:checked) + span::before {
        border-color: #80bdff;
    }

    .checkbox > input:checked + span::before {
        border-color: #0b76ef;
        background-color: #0b76ef;
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
    }

    .checkbox > input:disabled + span::before {
        background-color: #e9ecef;
    }

    // Input File style

    .btn-tertiary {
        color: #555;
        padding: 0;
        line-height: 40px;
        width: min-content;
        margin: auto;
        display: block;
        border: 2px solid #555
    }

    .btn-tertiary:hover, .btn-tertiary:focus {
        color: #888;
        border-color: #888
    }

    .input-file {
        width: .1px;
        height: .1px;
        opacity: 0;
        overflow: hidden;
        position: absolute;
        z-index: -1
    }

    .input-file + .js-label-file {
        @include flex-center(row);
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        padding: 0 10px;
        cursor: pointer
    }

    .icon-file-upload {
        margin-right: 5px;
    }

    .input-file + .js-label-file .icon-file-upload:before {
        content: url("/static/img/upload.svg");
    }

    .input-file + .js-label-file.has-file .icon-file-upload:before {
        content: url("/static/img/check.svg");
        color: #5AAC7B
    }

    select {
        border: none;
        outline: none;
        color: $whiteTextColor;
        border-bottom: 1px solid gray;
        font-size: $mainFontSize;
        background: transparent;
        text-shadow: 0 0 0 #000;
    }

    option {
        border: none;
        outline: none;
        color: $rulesColor;
        border-bottom: 1px solid gray;
        font-size: $mainFontSize;
        background: #ffffff;
    }

    .text-muted {
        color: rgb(186, 186, 186) !important;
    }
}


.main__register {
    @include flex-center(column);
    @include div-center();
    color: $whiteTextColor;

    .pagination {
        @include flex-center(row);

        button {
            width: 100px;
            font-size: 20px;
            margin: 10px;
        }
    }

    .register__component {
        padding: 0 5% 0 5%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .wrap {
            @include flex-center(column);
        }
    }

    .email__input button {
        margin: 15px 0 10px 0;
    }

    .list__interests {
        @include flex-center(column);
    }

    .header {
        padding-top: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: $whiteTextColor;
    }

    .rules__list {
        .text-muted {
            color: rgb(186, 186, 186) !important;
        }

        .li_text {
            margin-left: 5px;
        }

        li::marker {
            content: url('/static/img/check.svg');
        }

        li {
            margin-top: 40px;
            margin-left: 5%;
        }
    }

    .end__registration {
        a {
            display: block;
            background-color: #fff;
            color: $buttonTextColor;
            font-size: 25px;
            width: 64px;
            height: 32px;
            padding: 5px;
            border-radius: 5px;
            background: linear-gradient(90deg, #BD2859 0%,
                    #BC374E 50%, #de5456 100%);
            border: none;
            color: $whiteTextColor;
            font-weight: bolder;
            font-size: $mainFontSize;
            text-align: center;
            padding: 15px;
            border-radius: 15px;
            width: 400px;
            cursor: pointer;
        }
    }
}

.main__login {
    @include flex-center(column);
    color: $whiteTextColor;

    @include div-center();

    form {
        .form-control {
            margin-top: 15px;
        }

        input {
            width: 400px;
        }

        button {
            margin-top: 15px;
            width: 400px;
        }
    }
}

.app {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    .list__users {
    }

    .user__description {
        border-radius: 10px;
        background-color: #fff;
        padding: 15px;
        display: flex;
        flex-direction: row;

        .avatar {
            img {
                border-radius: 10px;
                width: 500px;
            }
        }

        .description {
            width: 300px;
            padding: 15px;
        }
    }
}

// Rules

.logo {
    width: 64px;
}

.text-muted {
    color: $mutedTextColor !important;
}

.progress-bar {
    display: block;
    width: 10%;
    height: 10px;
    background: $mainColor;
}

.message {
    color: $whiteTextColor;
    padding: 5px;
    width: 400px;
    border-radius: 5px;
    text-align: center;
}

.message-error {
    background-color: $messageErrorColor;
}

.message-success {
    background-color: $messageSuccessColor;
}

// Scroll bar

::-webkit-scrollbar {
    width: 10px;
    border-radius: 5px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
}

// Animations

.tick__animation {
    margin: 15px 0px 15px 0px;

    .wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .checkmark__circle {
        stroke-dasharray: 166;
        stroke-dashoffset: 166;
        stroke-width: 2;
        stroke-miterlimit: 10;
        stroke: #7ac142;
        fill: none;
        animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards
    }

    .checkmark {
        width: 56px;
        height: 56px;
        border-radius: 50%;
        display: block;
        stroke-width: 2;
        stroke: #fff;
        stroke-miterlimit: 10;
        margin: 10% auto;
        box-shadow: inset 0px 0px 0px #7ac142;
        animation: fill .4s ease-in-out .4s forwards, scale .3s ease-in-out .9s both
    }

    .checkmark__check {
        transform-origin: 50% 50%;
        stroke-dasharray: 48;
        stroke-dashoffset: 48;
        animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards
    }

    @keyframes stroke {
        100% {
            stroke-dashoffset: 0
        }
    }

    @keyframes scale {

        0%,
        100% {
            transform: none
        }

        50% {
            transform: scale3d(1.1, 1.1, 1)
        }
    }

    @keyframes fill {
        100% {
            box-shadow: inset 0px 0px 0px 30px #7ac142
        }
    }
}

// Header

.wrapper > .header {
    height: 60px;
    background-color: #181818;
    @include flex-center(row);
    color: $whiteTextColor;
    flex-grow: 0; /*Запрещаем увеличиваться*/
    flex-shrink: 0; /*Запрещаем сжиматься*/
    flex-basis: auto;
}

// Footer

.footer {
    flex: 0 0 auto;
    color: $whiteTextColor;
    @include flex-center(row);
    background-color: #181818;
    height: 60px;
}